@using AutoMapper.Internal
@model TH.WebUI.ViewModels.JobHuntingDetailsViewModel
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article>
    <h2>@Model.Title</h2>
    <h3>发布于 @Model.CreateDate</h3>
    <section>
        <h3>基本信息</h3>
        <ul>
            <li>姓名: @Model.Name</li>
            <li>民族: @Model.Nation</li>
            <li>年龄: @Model.Age</li>
            <li>工作年限: @Model.WorkYears</li>
            <li>学历: @Model.Education</li>
            <li>工作经验: @Model.WorkExperience</li>
            <li>求职岗位: @Model.Job</li>
            <li>薪资范围: @Model.Wage</li>
        </ul>
        <h3>个人简介</h3>
        <p>
            @Model.Introduction
        </p>
        <h3>联系方式</h3>
        <ul>
            <li>联系人: @Model.ContactPerson</li>
            <li>联系电话: @Model.Telephones</li>
        </ul>
    </section>
</article>

