@using AutoMapper.Internal
@model TH.WebUI.ViewModels.UseEquipmentDetailsViewModel
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article>
    <h2>@Model.Title</h2>
    <h3>发布于 @Model.CreateDate</h3>
    <section>
        <h3>基本信息</h3>
        <ul>
            <li>机械名称: @Model.Name</li>
            <li>型号: @Model.Model</li>
            <li>机械使用位置: @Model.Location</li>
            <li>新旧程度或出场日期: @Model.Condition</li>
            <li>使用时长: @Model.Duration</li>
            <li>使用方式: @Model.UseWay</li>
        </ul>
        <h3>联系方式</h3>
        <ul>
            <li>联系人: @Model.ContactPerson</li>
            <li>联系电话: @Model.Telephones</li>
        </ul>
    </section>
</article>

