@{
    ViewBag.Title = "首页";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
            </p>
        </div>
    </section>
}
<h3>发布供求信息</h3>
<ul class="round">
    <li class="one">
        @Html.ActionLink("招聘", "Index", "Job");
        @Html.ActionLink("求职", "Index", "JobHunting");
    </li>
    <li class="two">
        @Html.ActionLink("工程招标、发包工程", "");
        @Html.ActionLink("承揽工程", "");
    </li>
    <li class="two">
        @Html.ActionLink("出租、出售工程机械", "");
        @Html.ActionLink("求租、求购工程机械", "");
    </li>
    <li class="two">
        @Html.ActionLink("出租、出售工程设备及小型机具", "");
        @Html.ActionLink("求租、求购工程设备及小型机具", "");
    </li>
    <li class="two">
        @Html.ActionLink("出售建筑材料", "");
        @Html.ActionLink("求购建筑材料", "");
    </li>
    <li class="two">
        @Html.ActionLink("试验、检测", "");
        @Html.ActionLink("寻找试验、检测资质单位", "");
    </li>
    <li class="two">
        @Html.ActionLink("聘用证件持有人（兼职）", "");
        @Html.ActionLink("证件注册、挂靠", "");
    </li>
    <li class="two">
        @Html.ActionLink("融资、贷款", "");
    </li>
    <li class="two">
        @Html.ActionLink("相关供求信息", "");
    </li>
</ul>
