@using Mvc.Mailer

<p>亲爱的用户 @ViewData["userName"]：您好！</p>

<p>
    您收到这封这封电子邮件是因为您 (也可能是某人冒充您的名义) 申请了一个新的密码。假如这不是您本人所申请, 请不用理会这封电子邮件, 但是如果您持续收到这类的信件骚扰, 请您尽快联络管理员。
</p>
<p>要使用新的密码, 请使用以下链接启用密码。</p>
@{ var url = Url.Abs(Url.Action("PasswordReset", "Account", new {userId = ViewData["userId"], token = ViewData["token"]}));}
<p>
    <a href="@Url.Abs(Url.Action("PasswordReset", "Account", new { userId = ViewData["userId"], token = ViewData["token"] }))">@url</a><br /><br />
    (如果无法点击该URL链接地址，请将它复制并粘帖到浏览器的地址输入框，然后单击回车即可。该链接使用后将立即失效。)<br />
    注意:请您在收到邮件1个小时内(2014-06-03 19:38:21前)使用，否则该链接将会失效。
</p>
<p>
    关注天鸿路桥信息网，请访问：<a href="@Url.Abs(Url.Action("Index", "Home"))">@Url.Abs(Url.Action("Index", "Home"))</a><br />
    我们将一如既往、热忱的为您服务！
</p>