@using AutoMapper.Internal
@model TH.WebUI.ViewModels.DetectionDetailsViewModel
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article>
    <h2>@Model.Title</h2>
    <h3>发布于 @Model.CreateDate</h3>
    <section>
        <h3>基本信息</h3>
        <ul>
            <li>资质单位名称: @Model.Name</li>
            <li>资质等级: @(Model.QualificationGrade)</li>
            <li>试验、检测项目: @Model.Item</li>
            <li>试验、检测内容: @Model.Contents</li>
            <li>收费标准: @Model.Price</li>
        </ul>
        <h3>联系方式</h3>
        <ul>
            <li>联系人: @Model.ContactPerson</li>
            <li>联系电话: @Model.Telephones</li>
        </ul>
    </section>
</article>

