@model JobCreateViewModel
@using TH.WebUI.ViewModels

@{
    ViewBag.Title = "发布招聘信息";
}

@section Styles {
    @Styles.Render("~/Content/selectize")
}

<h2>发布招聘信息</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>发布招聘信息</legend>
        @Html.EditorFor(m => m.Title, new { placeholder = "一个吸引人的标题"})
        @Html.EditorFor(m => m.Company, new { placeholder = "公司名称"})
        @Html.EditorFor(m => m.Name, new { placeholder = "职位名称"})
        @Html.EditorForModel()
        <p>
            <input type="submit" value="发布" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/selectize")
    <script>
        $("#Company").selectize({
            create: true,
            options: "公司总经理、公司副总经理、会计、出纳、项目经理、项目副经理、项目总工、人力专员、行政专员、技术员、工程部长、试验检测工程师、试验员、安全员、领工员、测量员、资料员、后勤管理、造价师、预算员、总监、监理员、园林景观设计、市政技术员、市政工程师、给排水设计师、其它"
                .split('、').map(function(e) {
                return { text: e, value: e };
            }),
            maxItems: 1
        })
    </script>
}
