@using PagedList
@using PagedList.Mvc
@model IPagedList<TH.WebUI.ViewModels.JobIndexViewModel>

@{
    ViewBag.Title = "招聘";
}
@section Styles{
    @Styles.Render("~/Content/PageList")
}
<div class="panel panel-default">
    <div class="panel-heading"><h2>招聘信息</h2></div>
    <div class="panel-body">
        <ul>
            <li>
                热门职位：
                <div>
                    <a href="#">公司总经理</a><a href="#">公司副总经理</a><a href="#">会计</a><a href="#">出纳</a>
                    <a href="#">项目经理</a><a href="#">项目副经理</a> <a href="#">项目总工</a><a href="#">人力专员</a>
                    <a href="#">行政专员</a><a href="#">技术员</a> <a href="#">工程部长</a> <a href="#">试验检测工程师</a>
                    <a href="#">试验员</a><a href="#">安全员</a><a href="#">领工员</a><a href="#">测量员</a><a href="#">资料员</a>
                    <a href="#">后勤管理</a><a href="#">造价师</a><a href="#">预算员</a><a href="#">总监</a><a href="#">监理员</a>
                    <a href="#">园林景观设计</a><a href="#">市政技术员</a><a href="#">市政工程师</a><a href="#">给排水设计师</a>
                    <a href="#">电工</a><a href="#">泥瓦工</a><a href="#">砌石工</a><a href="#">振捣工</a><a href="#">木工</a><a href="#">钢筋工</a>
                    <a href="#">焊工</a><a href="#">张拉工</a><a href="#">拌和站操作工</a><a href="#">机械修理工</a><a href="#">汽修工</a><a href="#">力工</a>
                    <a href="#">小车司机</a><a href="#">挖掘机司机</a><a href="#">装载机司机</a><a href="#">平地机司机</a><a href="#">推土机司机</a>
                    <a href="#">压路机司机</a><a href="#">架桥机操作工</a><a href="#">自卸车司机</a><a href="#">吊车司机</a><a href="#">摊铺机司机</a><a href="#">厨师</a>
                </div>
                <hr />
            </li>
            <li>工作地点：<a href="#">呼和浩特</a><a href="#">阿拉善盟</a><a href="#">巴彦淖尔市</a><a href="#">鄂尔多斯市</a><a href="#">包头市</a><a href="#">乌兰察布市</a>
                <a href="#">锡林郭勒盟</a><a href="#">赤峰市</a><a href="#">通辽市</a><a href="#">兴安盟</a><a href="#">呼伦贝尔市</a><hr />
            </li>
            <li>薪资待遇：<a href="#">1000-2000元</a><a href="#">2000-3000元</a><a href="#">3000-4000元</a><a href="#">4000-5000元</a>
                <a href="#">5000-8000元</a><a href="#">8000-10000元</a><a href="#">10000-15000元</a><a href="#">15000以上</a><a href="#">面议</a>
            </li>
        </ul>
    </div>
    <ul class="list-group">
        @foreach (var j in Model)
{
    <li class="list-group-item">
        <a href="@Url.Action("Details", new { id = j.Id })" target="_blank" data-original-title="
            <h4>@j.Title</h4>
            <ul class='list-unstyled'>
                <li>职位名称:@j.Name</li>
                <li>招聘单位:@j.Company</li>
                <li>工作地点:@j.Location</li>
                <li>薪资范围:@j.Wage</li>
                <li>招聘人数:@j.RecruitCount</li>
                <li>发布时间:@j.CreateDate</li>
            </ul>">
            @j.Title
        </a>
    </li>
}
    </ul>
</div>
@Html.PagedListPager(Model, page => Url.Action("Index", new { pageIndex = page }))
<p>
    @Html.ActionLink("我要发布", "Create", null, new { @class = "btn btn-primary" })
</p>
@section scripts
{
    <script type="text/javascript">
        $("a").tooltip({
            placement: "right",
            html: true
        });
    </script>
}
