@using AutoMapper.Internal
@model TH.WebUI.ViewModels.BuildingMaterialDetailsViewModel
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article>
    <h2>@Model.Title</h2>
    <h3>发布于 @Model.CreateDate</h3>
    <section>
        <h3>基本信息</h3>
        <ul>
            <li>建材名称:@Model.Name</li>
            <li>规格、型号:@Model.Model</li>
            <li>经销厂址:@Model.Location</li>
            <li>生产厂家:@Model.Manufacturer</li>
            <li>价格:@Model.Price</li>
            <li>发布时间:@Model.CreateDate</li>
        </ul>
        <h3>机械图片</h3>
        <p>
            @Model.Image
        </p>
        <h3>联系方式</h3>
        <ul>
            <li>联系人: @Model.ContactPerson</li>
            <li>联系电话: @Model.Telephones</li>
        </ul>
    </section>
</article>

