@model JobCreateViewModel
@using TH.WebUI.Areas.Job.ViewModels

@{
    ViewBag.Title = "发布招聘信息";
}

<h2>发布招聘信息</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CachedTimeSource</legend>
        <p><span>招聘单位或经营个体</span></p>
        @Html.EditorForModel();
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
